#editor {
    position: fixed;
    top: 50;
    width: 720;
    height: 200;
    left: 200;
}

#result {
    position: relative;
    top: 250;
    left: 192;
    width: 720;
    height: 400;
}

#chartPanel {
    position: relative;
    top: -200;
    left: 1000;
    width: 650;
    height: 600;
}
